.slider {
	overflow-y: scroll;
  max-height: 0;
}
::-webkit-scrollbar {
  display: none;
}
.slider.closed {
  max-height: 150px; /* approximate max height */
	transition-property: all;
	transition-duration: 1s;
  position: sticky;
  width: 225px;
  margin-left: -23px;
}

.sliderPadding {
  padding: 0px 22px;
}

.menu-item:hover {
	color: rgb(85, 235, 255);
  text-decoration: none
}

.a:visited { text-decoration: none; color:white}

.menu-item:hover li {
  color: rgb(85, 235, 255);
}